<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 공통 css-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 페이지 css -->
    <link rel="stylesheet" href="/css/advertising/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 js -->
    <script src="/js/advertising/layout.js" defer></script>
    <title>광고신청</title>
</head>
<body>
    <!--공통헤더-->
    <header th:replace="~{inc/header.html :: header}"></header>

    <!-- 광고신청-->
    <div id="advertising-form" class="cont-wrap">
        <section>
            <div class="inner-cont">
                <div class="sec-head">
                    <div class="tit">광고 신청</div>
                </div>
                <div class="sec-body">
                    <form action="">
                        <div class="input-area">
                            <div class="input-tit"><span class="essential">*</span>광고 구분</div>
                            <div class="input-wrap">
                                <div class="input-info">광고 구분을 선택해주세요</div>
                                <div class="check-input-area">
                                    <div class="check-wrap">
                                        <input type="radio" name="name1" id="banner" class="check-input" checked>
                                        <label for="banner">배너</label>
                                    </div>

                                    <div class="check-wrap">
                                        <input type="radio" name="name1" id="feed" class="check-input">
                                        <label for="feed">피드</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-area adver-date">
                            <div class="input-tit"><span class="essential">*</span>광고 기간</div>
                            <div class="input-wrap">
                                <div class="input-info">광고 기간을 선택해주세요</div>
                                <div class="check-input-area">
                                    <div class="check-wrap">
                                        <input type="radio" name="date1" id="1week" class="check-input" checked>
                                        <label for="1week">1주일</label>
                                    </div>

                                    <div class="check-wrap">
                                        <input type="radio" name="date1" id="1month" class="check-input">
                                        <label for="1month">1개월</label>
                                    </div>

                                    <div class="check-wrap">
                                        <input type="radio" name="date1" id="2month" class="check-input">
                                        <label for="2month">2개월</label>
                                    </div>

                                    <div class="check-wrap">
                                        <input type="radio" name="date1" id="3month" class="check-input">
                                        <label for="3month">3개월</label>
                                    </div>

                                    <div class="check-wrap">
                                        <input type="radio" name="date1" id="etc" class="check-input">
                                        <label for="etc">기타</label>
                                    </div>
                                </div>

                                <div class="ect-input">
                                    <div class="input-info">기타 날짜를 입력해주세요 ex) 4개월, 1년.. 등</div>
                                    <input type="text" name="" id="ectInput" class="text-input" placeholder="기타 날짜를 입력해주세요">
                                    <div class="input-error"></div>
                                </div>
                                
                                <div class="start-date">
                                    <div class="input-info">광고 시작 날짜를 선택해주세요</div>
                                    <div class="date-wrap">
                                        <input type="date" name="" id="startDate" class="datebox">
                                        <div class="input-error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-area">
                            <div class="input-tit"><span class="essential">*</span>제목</div>
                            <div class="input-wrap">
                                <div class="input-info">신청 제목을 입력해주세요</div>
                                <input type="text" name="" id="adverTitle" class="text-input" placeholder="제목을 입력하세요">
                                <div class="input-error"></div>
                            </div>
                        </div>

                        <div class="input-area">
                            <div class="input-tit"><span class="essential">*</span>이미지</div>
                            <div class="input-wrap">
                                <div class="input-info">배너 및 피드 이미지를 등록해주세요.</div>
                                <div class="file-wrap">
                                    <input type="text" name="" id="" class="file-label" placeholder="첨부파일" disabled>
                                    <input type="file" name="" id="adverFile" class="file-box">
                                    <label for="adverFile" class="file-btn">파일 선택</label>
                                    <div class="input-error"></div>
                                </div>
                            </div>
                        </div>

                        <div class="input-area">
                            <div class="input-tit"><span class="essential">*</span>내용</div>
                            <div class="input-wrap">
                                <div class="input-info">광고 내용을 입력해주세요.<br>피드 광고 시 피드 상세 부분에 들어가는 내용입니다.</div>
                                <textarea name="" id="adverContent" cols="30" rows="10" class="" placeholder="내용을 입력하세요"></textarea>
                                <div class="input-error"></div>
                            </div>
                        </div>

                        <div class="btn-area">
                            <button type="button" class="app-btn">광고 신청</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- 광고신청-->

    <!-- 공통푸터-->
    <footer th:replace="~{inc/footer.html :: footer}"></footer>

    <!--  DM  -->
    <div th:replace="~{dm/list.html :: #chat-area}"></div>
</body>
</html>
