<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 페이지 css-->
    <link rel="stylesheet" href="/css/advertising/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 js -->
    <script src="/js/advertising/layout.js" defer></script>
    <title>TEXT 광고 지원</title>
</head>
<body class="adver-main">
  <header>
    <div class="inner-header">
      <h1 class="logo"><a href=""><img src="/img/inc/logo.svg" alt=""></a></h1>
      <nav>
        <a href="#">광고 지원</a>
      </nav>
    </div>
  </header>

  <main>

    <section class="sec1">
      <div class="inner-con">
        <div>
          <h2>고객이 여행를 검색하는 그 순간<br><b>광고를 노출시켜보세요.</b></h2>
          <p>매번 신청하기 번거로웠던 광고<br>
            이제는 TEXT에서 간편하게 하세요.</p>
          <button type="button" class="btn_sty01">지금 광고 시작하기<i class="arrow arrow-right"></i></button>
        </div>
      </div>
    </section>

    <section class="sec2">
      <div class="inner-con">
        <p class="section-title">WE.TEXT</p>
        <p class="section-p p-b-50">업체별 맞춤 관리 서비스를 통해<br> 경험해보지 못한 광고 효과를 보여드립니다..</p>
        <div class="row">
          <div class="col">
            <p><b>1.2만명</b></p>
            <span>등록 업체 수</span>
          </div>
          <div class="col">
            <p><b>200%</b></p>
            <span>광고 노출 효과</span>
          </div>
          <div class="col">
            <p><b>5,000만원</b></p>
            <span>업체별 월 평균 매출</span>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="sec3">
      <div class="inner-con">
        <p class="section-title">배너/피드 이렇게 진행해요</p>
        <p class="section-p p-b-50">이목을 사로잡는 배너광고/부담없이 접근할 수 있는 피드광고<br>브랜드 인지도를 함께 쌓아갈 수 있습니다.</p>

        <div class="row">
          <div class="col">
            <p class="num">1</p>
            <p><b>1:1 클래스 관리</b></p>
            <p class="txt">1:1 관리로 호스트당 담당자가 배정되어 콘텐츠 제작, 일정 조율, 커리큘럼 등 상품 제작에 도움을 드립니다.</p>
          </div>
          <div class="col">
            <p class="num">2</p>
            <p><b>나만의 브랜드 구축</b></p>
            <p class="txt">모임을 리드하는 호스트로서 인지도를 쌓으면서 누구도 따라 할 수 없는 자신만의 브랜드를 프립에서 구축할 수 있습니다.</p>
          </div>
          <div class="col b0">
            <p class="num">3</p>
            <p><b>다양한 네트워크</b></p>
            <p class="txt">재능을 가진 호스트와 새로운 경험을 원하는 대원들을 연결해드립니다. 100만 명의 대원들과 특별한 경험을 나누어보세요.</p>
          </div>
        </div>
        <div class="row b0 p-b-50">
          <div class="col">
            <p class="num">4</p>
            <p><b>마케팅 활성화</b></p>
            <p class="txt">호스트님의 프립에 적합한 고객을 쉽게 모을 수 있도록 담당자가 다양한 마케팅으로 홍보를 도와드립니다.</p>
          </div>
          <div class="col">
            <p class="num">5</p>
            <p><b>프립톡</b></p>
            <p class="txt">프립을 참여하는 대원과 실시간 채팅을 통해 일정 조율 및 공지를 간편하게 전달할 수 있습니다.</p>
          </div>
          <div class="col b0">
            <p class="num">6</p>
            <p><b>기업 단체 프립 연결</b></p>
            <p class="txt">팀웍 향상을 위해 단체로 프립을 신청하는 기업과 호스트님들을 연결해드리고 있습니다. 기업 대상으로도 재능을 펼쳐보세요.</p>
          </div>
        </div>
      </div>
    </section> -->

    <section class="sec4">
      <div class="inner-con">
        <p class="section-title">배너/피드 이렇게 진행해요</p>
        <p class="section-p p-b-50">이목을 사로잡는 배너광고/부담없이 접근할 수 있는 피드광고<br>브랜드 인지도를 함께 쌓아갈 수 있습니다.</p>
        <ul class="adver-list">
            <li>
                <div class="img-wrap">
                    <img src="/img/advertising/banner_1.png" alt="이목을 사로잡는 배너광고">
                </div>
                <div class="list-info">
                    <div class="list-tit">배너 광고</div>
                    <div class="sub-txt">
                        홈페이지 접속 시 가장 먼저 보이는 스와이프 배너는 고객에게 각인시키기 좋은 위치이며 매출과 직결되는 구성요소 중 하나 입니다.
                    </div>
                    <div class="sub-info">
                        <p><span>01.</span> 이목을 사로잡는 배너광고로 고객들이 필요한 순간에 도달하겠습니다.</p>
                        <p><span>02.</span> 경험을 바탕으로 고객의 니즈에 맞는 광고 효과를 보실 수 있는 방향으로 진행합니다.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="img-wrap">
                    <img src="/img/advertising/banner_2.png" alt="다양한 정보를 제공하는 피드 광고">
                </div>
                <div class="list-info">
                    <div class="list-tit">피드 광고</div>
                    <div class="sub-txt">
                        단순히 나열되는 홍보 매체로 아닌 고객들로 하여금 브랜드 아이덴티티를 인식하고 관계가 형성될 수 있도록 하는 것이 중요합니다. 
                    </div>
                    <div class="sub-info">
                        <p><span>01.</span> 고객이 서비스를 검색하는 그 순간 피드 광고를 노출시켜보세요. </p>
                        <p><span>02.</span> 수만명의 고객들이 다양한 서비스를 검색합니다.</p>
                    </div>
                </div>
            </li>
        </ul>
        <button type="button" class="btn_sty01">지금 광고 시작하기<i class="arrow arrow-right"></i></button>
      </div>
    </section>

  </main>

    <footer id="footer">
        <div class="inner-footer">
            <section>
                <h2 class="tit">공지사항 및 공식계정</h2>
                <div>TEXT 공식계정: <a href="" class="official">TEXT OFFICIAL</a></div>
            </section>

            <section>
                <h2 class="tit">지원센터</h2>
                <div>운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)</div>
                <div>광고: contact@text.com</div>
            </section>

            <section>
                <h2 class="tit">Text</h2>
                <div class="info">
                    <p>
                        ㈜프렌트립|사업자 등록번호 : 261-81-04385<br>
                        통신판매업신고번호 : 2016-서울성동-01088<br>
                        대표 : 임수열|개인정보 관리 책임자 : 양사열<br>
                        서울시 성동구 왕십리로 115 헤이그라운드 서울숲점 G703<br>
                        ㈜프렌트립은 통신판매중개자로서 거래당사자가 아니며, 호스트가 등록한 상품정보 및 거래에 대해 ㈜프렌트립은 일체의 책임을 지지 않습니다.<br><br>

                        NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다. 가입 확인
                    </p>
                </div>
                <div class="terms">
                    <a href="">이용약관</a>
                    <a href=""><b>개인정보 처리방침</b></a>
                    <a href="">위치기반 서비스 이용약관</a>
                </div>
            </section>
        </div>
        <!--  모바일 하단 nav바  -->
        <div class="foot-nav">
            <nav>
                <ul>
                    <li class="nav-home">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M10 0L2 6.78571V17.5H7.54545V12.2174H12.4545V17.5H18V6.78571L10 0Z' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">홈</span>
                        </a>
                    </li>
                    <li class="nav-cate">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='11.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> <rect x='11.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">카테고리</span>
                        </a>
                    </li>
                    <li class="nav-feed">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='1' y='0.5' width='18' height='17' fill='#CCCCCC'/> <rect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/> <rect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/> <path d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/> </svg>
                            <span class="nav-tit">피드</span>
                        </a>
                    </li>
                    <li class="nav-bell">
                        <a href="javascript:void(0)">
                            <i class="xi-bell"></i>
                            <span class="nav-tit">알림</span>
                        </a>
                    </li>
                    <li class="nav-my">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M17 11H3L1 17.4H19L17 11Z' fill='#CCCCCC'/> <circle cx='10' cy='5' r='4.5' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">마이</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>