<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 공통 css-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 페이지 css -->
    <link rel="stylesheet" href="/css/advertising/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 js -->
    <script src="/js/advertising/layout.js" defer></script>
    <title>TEXT 광고지원</title>
</head>
<body class="adver-main">
  <header>
    <div class="inner-header">
      <h1 class="logo"><a href=""><img src="/img/inc/logo.svg" alt=""></a></h1>
      <nav>
        <a href="#">광고 지원</a>
      </nav>
    </div>
  </header>

  <main>
    <section class="sec1">
      <div class="inner-con">
        <div>
          <h2>고객이 여행를 검색하는 그 순간<br><b>광고를 노출시켜보세요.</b></h2>
          <p>매번 신청하기 번거로웠던 광고<br>
            이제는 TEXT에서 간편하게 하세요.</p>
          <button type="button" class="btn_sty01">지금 광고 시작하기<i class="arrow arrow-right"></i></button>
        </div>
      </div>
    </section>

    <section class="sec2">
      <div class="inner-con">
        <p class="section-title">WE.TEXT</p>
        <p class="section-p p-b-50">업체별 맞춤 관리 서비스를 통해<br> 경험해보지 못한 광고 효과를 보여드립니다..</p>
        <div class="row">
          <div class="col">
            <p><b>1.2만명</b></p>
            <span>등록 업체 수</span>
          </div>
          <div class="col">
            <p><b>200%</b></p>
            <span>광고 노출 효과</span>
          </div>
          <div class="col">
            <p><b>5,000만원</b></p>
            <span>업체별 월 평균 매출</span>
          </div>
        </div>
      </div>
    </section>

    <section class="sec4">
      <div class="inner-con">
        <p class="section-title">배너/피드 이렇게 진행해요</p>
        <p class="section-p p-b-50">이목을 사로잡는 배너광고/부담없이 접근할 수 있는 피드광고<br>브랜드 인지도를 함께 쌓아갈 수 있습니다.</p>
        <ul class="adver-list">
            <li>
                <div class="img-wrap">
                    <img src="/img/advertising/banner_1.png" alt="이목을 사로잡는 배너광고">
                </div>
                <div class="list-info">
                    <div class="list-tit">배너 광고</div>
                    <div class="sub-txt">
                        홈페이지 접속 시 가장 먼저 보이는 스와이프 배너는 고객에게 각인시키기 좋은 위치이며 매출과 직결되는 구성요소 중 하나 입니다.
                    </div>
                    <div class="sub-info">
                        <p><span>01.</span> 이목을 사로잡는 배너광고로 고객들이 필요한 순간에 도달하겠습니다.</p>
                        <p><span>02.</span> 경험을 바탕으로 고객의 니즈에 맞는 광고 효과를 보실 수 있는 방향으로 진행합니다.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="img-wrap">
                    <img src="/img/advertising/banner_2.png" alt="다양한 정보를 제공하는 피드 광고">
                </div>
                <div class="list-info">
                    <div class="list-tit">피드 광고</div>
                    <div class="sub-txt">
                        단순히 나열되는 홍보 매체로 아닌 고객들로 하여금 브랜드 아이덴티티를 인식하고 관계가 형성될 수 있도록 하는 것이 중요합니다. 
                    </div>
                    <div class="sub-info">
                        <p><span>01.</span> 고객이 서비스를 검색하는 그 순간 피드 광고를 노출시켜보세요. </p>
                        <p><span>02.</span> 수만명의 고객들이 다양한 서비스를 검색합니다.</p>
                    </div>
                </div>
            </li>
        </ul>
        <button type="button" class="btn_sty01">지금 광고 시작하기<i class="arrow arrow-right"></i></button>
      </div>
    </section>

  </main>

  <!-- 공통푸터-->
  <footer th:replace="~{inc/footer.html :: footer}"></footer>
</body>
</html>