<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="g-sidenav-pinned g-sidenav-show">
<div id="app">
    <div class="wrapper">
        <div data-v-3589627c="" data="vue"
             class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white ps">
            <div data-v-3589627c="" class="scrollbar-inner" style="padding-bottom: 8rem;">
                <div data-v-3589627c="" class="sidenav-header d-flex align-items-center">
                    <div data-v-3589627c="" class="navbar-brand"><a data-v-3589627c="" href="/" aria-current="page"
                                                                    class="router-link-exact-active open active"
                                                                    target="_self"><img data-v-3589627c=""
                                                                                        src="/img/signature.e10bf6d2.svg"
                                                                                        width="80" height="30"></a>
                    </div>
                    <div data-v-3589627c="" class="ml-auto"><!---->
                        <div data-v-3589627c="" class="sidenav-toggler pr-3 d-block d-sm-none active"><img
                                data-v-3589627c="" src="/img/delete.6d6ddd61.svg" width="24" height="24"></div>
                    </div>
                </div>
                <div data-v-3589627c="" class="px-4 py-3 d-flex"><a data-v-3589627c="" href="/product/create"
                                                                    class="btn frip-button btn-outline-frip-secondary flex-grow-1">
                    프립 등록 </a><a data-v-3589627c="" href="/product/list"
                                 class="btn frip-button btn-outline-frip-primary flex-grow-1"> 프립 목록 </a></div>
                <div data-v-3589627c="" class="navbar-inner links-after-pad-wrapper overflow-auto">
                    <ul data-v-3589627c="" class="navbar-nav">
                        <li data-v-3589627c="" to="/host" class="nav-item"><a data-toggle="collapse"
                                                                              class="sidebar-menu-item nav-link"><img
                                src="/img/info.09789ae9.svg" width="24" height="24" class="mr-1"><span
                                class="nav-link-text">내 정보 <b class="caret"></b></span></a>
                            <div class="collapse show" style="display: none;">
                                <ul class="nav nav-sm flex-column"><a data-v-3589627c="" href="/host/profile"
                                                                      class="nav-item"><!----><!----><a
                                        href="/host/profile" class="nav-link"><!----><span
                                        class="nav-link-text">프로필 관리</span></a></a><a data-v-3589627c=""
                                                                                      href="/host/account"
                                                                                      class="nav-item"><!----><!----><a
                                        href="/host/account" class="nav-link"><!----><span
                                        class="nav-link-text">정산정보 관리</span></a></a></ul>
                            </div><!----></li>
                        <li data-v-3589627c="" to="/product" class="nav-item"><a data-toggle="collapse"
                                                                                 class="sidebar-menu-item nav-link"><img
                                src="/img/logo.bcc26773.svg" width="24" height="24" class="mr-1"><span
                                class="nav-link-text">프립 관리 <b class="caret"></b></span></a>
                            <div class="collapse show" style="display: none;">
                                <ul class="nav nav-sm flex-column"><a data-v-3589627c="" href="/product/list"
                                                                      class="nav-item"><!----><!----><a
                                        href="/product/list" class="nav-link"><!----><span
                                        class="nav-link-text">프립 목록</span></a></a><a data-v-3589627c=""
                                                                                     href="/product/create"
                                                                                     class="nav-item"><!----><!----><a
                                        href="/product/create" class="nav-link"><!----><span
                                        class="nav-link-text">프립 등록</span></a></a><a data-v-3589627c=""
                                                                                     href="/purchase/list"
                                                                                     class="nav-item"><!----><!----><a
                                        href="/purchase/list" class="nav-link"><!----><span
                                        class="nav-link-text">판매 관리</span></a></a><a data-v-3589627c="" href="/booking"
                                                                                     class="nav-item"><!----><!----><a
                                        href="/booking" class="nav-link"><!----><span class="nav-link-text">예약 관리</span></a></a><a
                                        data-v-3589627c="" href="/delivery" class="nav-item"><!----><!----><a
                                        href="/delivery" class="nav-link"><!----><span
                                        class="nav-link-text">배송 관리</span></a></a><a data-v-3589627c="" href="/qna/list"
                                                                                     class="nav-item"><!----><!----><a
                                        href="/qna/list" class="nav-link"><!----><span
                                        class="nav-link-text">문의 관리</span></a></a><a data-v-3589627c=""
                                                                                     href="/product-review/list"
                                                                                     class="nav-item"><!----><!----><a
                                        href="/product-review/list" class="nav-link"><!----><span class="nav-link-text">후기 관리</span></a></a>
                                </ul>
                            </div><!----></li>
                        <li data-v-3589627c="" to="/settlement" class="nav-item"><a data-toggle="collapse"
                                                                                    class="sidebar-menu-item nav-link"><img
                                src="/img/bill.69d49dad.svg" width="24" height="24" class="mr-1"><span
                                class="nav-link-text">정산관리 <b class="caret"></b></span></a>
                            <div class="collapse show" style="display: none;">
                                <ul class="nav nav-sm flex-column"><a data-v-3589627c="" href="/settlement/accounts"
                                                                      class="nav-item"><!----><!----><a
                                        href="/settlement/accounts" class="nav-link"><!----><span class="nav-link-text">정산 계좌</span></a></a><a
                                        data-v-3589627c="" href="/settlement/settlements" class="nav-item"><!---->
                                    <!----><a href="/settlement/settlements" class="nav-link"><!----><span
                                            class="nav-link-text">정산서 관리</span></a></a><a data-v-3589627c=""
                                                                                          href="/settlement/invoices"
                                                                                          class="nav-item"><!---->
                                    <!----><a href="/settlement/invoices" class="nav-link"><!----><span
                                            class="nav-link-text">지급서 관리</span></a></a></ul>
                            </div><!----></li>
                        <li data-v-3589627c="" to="/notice/list/host" class="nav-item"><a data-toggle="collapse"
                                                                                          class="sidebar-menu-item nav-link"><img
                                src="/img/article.238d6dd5.svg" width="24" height="24" class="mr-1"><span
                                class="nav-link-text">공지사항 관리 <b class="caret"></b></span></a>
                            <div class="collapse show" style="display: none;">
                                <ul class="nav nav-sm flex-column"><a data-v-3589627c="" href="/notices"
                                                                      class="nav-item"><!----><!----><a href="/notices"
                                                                                                        class="nav-link">
                                    <!----><span class="nav-link-text">공지사항</span></a></a><a data-v-3589627c=""
                                                                                             href="/faqs"
                                                                                             class="nav-item"><!---->
                                    <!----><a href="/faqs" class="nav-link"><!----><span
                                            class="nav-link-text">자주 묻는 질문</span></a></a></ul>
                            </div><!----></li>
                    </ul>
                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>

    </div>
</body>
</html>