<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 css-->
    <link rel="stylesheet" type='text/css' href="/css/mypage/create.css">
    <!-- 페이지 js -->
    <script src="/js/mypage/create.js"></script>

    <title>함께해요 신청서~~~!</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    <div>
        <div class="top">함께해요 신청서</div>
        <div class="side">
            <form>
                <div class="all">
                    <div>
                        <div class="title">
                            <div class="title1">
                                <div class="title2">
                                    <div class="title3" style="font-size: 0.9rem;">내용</div>
                                </div>
                                <div class="titlediv">
                                    <div>
                                        <span>
                                            <fieldset class="" id="">
                                                <div>
                                                    <div class="">
                                                    <input type="text" class="contentinp" valid="true">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="subbut">
        <button type="button" class="cancel">취소</button>
        <button type="submit" class="submit">신청</button>
    </div>
</form>
</body>
</html>