<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 페이지 css-->
    <link rel="stylesheet" href="/css/search/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 js -->
    <script src="/js/search/layout.js" defer></script>
    <title>TEXT</title>
</head>
<body>
    <!--공통헤더-->
    <header th:insert="~{inc/header.html :: header}"></header>

    <!-- 검색결과-->
    <div id="search" class="cont-wrap">
        <div class="inner-cont">
            <section class="result">
                <div class="search-head">
                    <div class="cate-filter">
                        <span class="cate-tit">피드</span> <button type="button" class="cate-arrow xi-angle-down"></button>
                        <div class="list">
                            <button type="button">피드</button>
                            <button type="button">교환해요</button>
                            <button type="button">함께해요</button>
                        </div>
                    </div>
                    <div class="deco">
                        검색 결과 <span>146</span>
                    </div>
                </div>

                <!-- 하위 필터  -->
                <div class="sub-main-filer">
                    <ul>
                        <li class="all"><button type="button">전체</button></li>
                        <li class="active"><button type="button">동아시아</button></li>
                        <li><button type="button">남아시아</button></li>
                    </ul>
                </div>
                <div class="sub-filter">
                    <ul>
                        <li class="all active"><button type="button">전체</button></li>
                        <li class=""><button type="button">대한민국</button></li>
                        <li><button type="button">일본</button></li>
                        <li><button type="button">중국</button></li>
                        <li><button type="button">미국</button></li>
                        <li><button type="button">아프리카</button></li>
                        <li><button type="button">대만</button></li>
                    </ul>
                </div>

                <!-- 검색결과 -->
                <div class="search-result">
                    <ul>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img alt="[종로] 나만의 반려식물, 테라리움 만들기 (예약 가능) 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%EC%86%8C%ED%98%95%20%ED%86%A0%ED%86%A0%EB%A1%9C_814185fa423b41e4770432174cbc08a4b84d6e4f557da9dafbeef21e87f735a0">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">대한민국</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img alt="[종로] 나만의 반려식물, 테라리움 만들기 (예약 가능) 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%EC%86%8C%ED%98%95%20%ED%86%A0%ED%86%A0%EB%A1%9C_814185fa423b41e4770432174cbc08a4b84d6e4f557da9dafbeef21e87f735a0">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">일본</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img alt="[종로] 나만의 반려식물, 테라리움 만들기 (예약 가능) 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%EC%86%8C%ED%98%95%20%ED%86%A0%ED%86%A0%EB%A1%9C_814185fa423b41e4770432174cbc08a4b84d6e4f557da9dafbeef21e87f735a0">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">중국</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--  페이징  -->
                <div class="veiw-more">
                    <button class="view-more-btn" type="button">더 보기 <i class="xi-angle-down"></i></button>
                </div>
            </section>
        </div>
    </div>
    <!-- 메인페이지-->
    <footer id="footer">
        <div class="inner-footer">
            <section>
                <h2 class="tit">공지사항 및 공식계정</h2>
                <div>TEXT 공식계정: <a href="" class="official">TEXT OFFICIAL</a></div>
            </section>

            <section>
                <h2 class="tit">지원센터</h2>
                <div>운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)</div>
                <div>광고: contact@text.com</div>
            </section>

            <section>
                <h2 class="tit">Text</h2>
                <div class="info">
                    <p>
                        ㈜프렌트립|사업자 등록번호 : 261-81-04385<br>
                        통신판매업신고번호 : 2016-서울성동-01088<br>
                        대표 : 임수열|개인정보 관리 책임자 : 양사열<br>
                        서울시 성동구 왕십리로 115 헤이그라운드 서울숲점 G703<br>
                        ㈜프렌트립은 통신판매중개자로서 거래당사자가 아니며, 호스트가 등록한 상품정보 및 거래에 대해 ㈜프렌트립은 일체의 책임을 지지 않습니다.<br><br>

                        NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다. 가입 확인
                    </p>
                </div>
                <div class="terms">
                    <a href="">이용약관</a>
                    <a href=""><b>개인정보 처리방침</b></a>
                    <a href="">위치기반 서비스 이용약관</a>
                </div>
            </section>
        </div>
        <!--  모바일 하단 nav바  -->
        <div class="foot-nav">
            <nav>
                <ul>
                    <li class="nav-home">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M10 0L2 6.78571V17.5H7.54545V12.2174H12.4545V17.5H18V6.78571L10 0Z' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">홈</span>
                        </a>
                    </li>
                    <li class="nav-cate">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='11.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> <rect x='11.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">카테고리</span>
                        </a>
                    </li>
                    <li class="nav-feed">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='1' y='0.5' width='18' height='17' fill='#CCCCCC'/> <rect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/> <rect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/> <path d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/> </svg>
                            <span class="nav-tit">피드</span>
                        </a>
                    </li>
                    <li class="nav-bell">
                        <a href="javascript:void(0)">
                            <i class="xi-bell"></i>
                            <span class="nav-tit">알림</span>
                        </a>
                    </li>
                    <li class="nav-my">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M17 11H3L1 17.4H19L17 11Z' fill='#CCCCCC'/> <circle cx='10' cy='5' r='4.5' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">마이</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
