button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    appearance: button;
}
img {
    border-style: none;
}
::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}
*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
div {
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
* {
    outline: none;
    font-family: inherit;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button,
select {
    text-transform: none;
}
button,
input {
    overflow: visible;
}
button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}
/* ----------------------------------------------------------------------------------------------------------- */
#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}
.appWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.SocialFeedPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

/* 피드헤더 (피드라고 써져있는부분) */
.SocialFeedPage-Header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.SocialFeedPage-Title {
    color: rgb(51, 61, 75);
    font-weight: bold;
    font-size: 24px;
}
.SocialFeedPage-button {
    cursor: pointer;
    vertical-align: super;
}

/* 피드 contents ----------------------------------------------------------------------------------------- */
.SocialFeedPage-Content {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}
.FeedList {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    overflow-x: hidden;
}
.FeedList > div {
    width: 33.3333%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: -1px;
}



/* 1. 피드 contents - 프로필 이름, 사진, 시간 */
.FeedList-ProfileWrapper {
    margin-bottom: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.UserProfileWrapper {
    display: flex;
}

/* 1-1. 프로필이미지 */
.ProfileImageWrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-top: 10%;
}
.ProfileImage-Wrapper {
    min-height: 1px;
}
.ImageLoader {
    display: none !important;
}

.Fade-Wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

/* 사진 크기 설정 */
.Fade-Wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.StyledImage {
    display: initial;
    border-radius: 36px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 이 아래는 필요한지 잘 모르겠음 */
.FloatingButtonWrapper {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.Footer-Wrapper {
    padding: 40px 20px 96px;
    background-color: rgb(248, 248, 248);
}

.FeedImage-wrapper2 {
    max-width: 213px;
    position: relative;
    align-items: center;
}

/* feed 리스트 -------------------------------------------------------------*/
.post .user-wrap {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.post .user-wrap a {
    display: flex;
    align-items: center;
}
.post .user-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: #f7f7f7;
    margin-right: 10px;
}
.post .user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.post .user-name {
    font-size: 16px;
    margin-bottom: 5px;
}
.post .post-date {
    font-size: 12px;
    color: #707070;
}
.post .img-wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    top: 0;
}
.post .img-wrap .thumb-ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.2s;
}
.post .img-wrap .thumb-ul li {
    width: 100%;
}
.post .img-wrap .thumb-ul li img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.post .img-wrap .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.post .img-wrap .arrow.left {
    left: 5px;
}
.post .img-wrap .arrow.left img {
    transform: rotate(180deg);
}
.post .img-wrap .arrow.right {
    right: 5px;
}
.post .img-wrap .page {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    height: 5px;
}
.post .img-wrap .page li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
}
.post .img-wrap .page li.active {
    opacity: 1;
}
.post .img-wrap .page li + li {
    margin-left: 5px;
}

.post .con-wrap {
    width: 100%;
    margin-bottom: 20px;
}
.post .con-wrap .tit {
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.post .con-wrap .content {
    font-size: 12px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
    color: #707070;
    line-height: 16px;
}

.post .util-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}
.post .util-wrap > div {
    display: flex;
    align-items: center;
}
.post .util-wrap > div + div {
    margin-left: 15px;
}
.post .icon-wrap {
    width: 22px;
    margin-right: 5px;
}
.post .count {
    line-height: 22px;
    margin-left: 3px;
    margin-bottom: 5px;
}
