<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>알림 페이지</title>

    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/mypage/notice.css">

</head>
<body>
<div id="notice">
    <h1 class="title">알림</h1>
    <div class="listWrapper">
        <!-- 색 있는 목록 -->
        <div>
            <div class="list color">
                <a class="imageWrap" href=""><img class="imagee" alt="" src="/img/mypage/logo.jpg" ></a>
                <a class="contentWrap" href="">
                    <div class="content">
                        <span class="description">치이카와님이 회원님의 상품에 좋아요를 눌렀습니다</span>
                        <span class="time-time">2023-08-11 12:02:05</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- 색 없는 목록-->
        <div>
            <div class="list colorless">
                <a class="imageWrap" href=""><img class="imagee" alt="" src="/img/mypage/logo.jpg"></a>
                <a class="contentWrap" href="">
                    <div class="content">
                        <span class="description">치이카와님이 회원님의 상품에 좋아요를 눌렀습니다</span>
                        <span class="time-time">2023-08-11 11:38:15</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>