<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 공통 css-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <title>footer</title>
</head>
<body>
    <!-- 메인페이지-->
    <footer id="footer">
        <div class="inner-footer">
            <section>
                <h2 class="tit">공지사항 및 공식계정</h2>
                <div>TEXT 공식계정: <a href="" class="official">TEXT OFFICIAL</a></div>
            </section>

            <section>
                <h2 class="tit">지원센터</h2>
                <div>운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)</div>
                <div>광고: contact@text.com</div>
            </section>

            <section>
                <h2 class="tit">Text</h2>
                <div class="info">
                    <p>
                        ㈜프렌트립|사업자 등록번호 : 261-81-04385<br>
                        통신판매업신고번호 : 2016-서울성동-01088<br>
                        대표 : 임수열|개인정보 관리 책임자 : 양사열<br>
                        서울시 성동구 왕십리로 115 헤이그라운드 서울숲점 G703<br>
                        ㈜프렌트립은 통신판매중개자로서 거래당사자가 아니며, 호스트가 등록한 상품정보 및 거래에 대해 ㈜프렌트립은 일체의 책임을 지지 않습니다.<br><br>

                        NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다. 가입 확인
                    </p>
                </div>
                <div class="terms">
                    <a href="">이용약관</a>
                    <a href=""><b>개인정보 처리방침</b></a>
                    <a href="">위치기반 서비스 이용약관</a>
                </div>
            </section>
        </div>
        <!--  모바일 하단 nav바  -->
        <div class="foot-nav">
            <nav>
                <ul>
                    <li class="nav-home">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M10 0L2 6.78571V17.5H7.54545V12.2174H12.4545V17.5H18V6.78571L10 0Z' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">홈</span>
                        </a>
                    </li>
                    <li class="nav-cate">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='11.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> <rect x='11.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">카테고리</span>
                        </a>
                    </li>
                    <li class="nav-feed">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='1' y='0.5' width='18' height='17' fill='#CCCCCC'/> <rect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/> <rect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/> <path d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/> </svg>
                            <span class="nav-tit">피드</span>
                        </a>
                    </li>
                    <li class="nav-bell">
                        <a href="javascript:void(0)">
                            <i class="xi-bell"></i>
                            <span class="nav-tit">알림</span>
                        </a>
                    </li>
                    <li class="nav-my">
                        <a href="javascript:void(0)">
                            <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M17 11H3L1 17.4H19L17 11Z' fill='#CCCCCC'/> <circle cx='10' cy='5' r='4.5' fill='#CCCCCC'/> </svg>
                            <span class="nav-tit">마이</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>