<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>회원 리스트</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="/css/font/font.css">
        <!--  <link rel="stylesheet" href="/css/inc/reset.css"> -->
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 css -->
    <link rel="stylesheet" href="/css/jinDefault/list.css">
    <link rel="stylesheet" href="/css/memberManagement/filter.css">
    <!-- 페이지 js -->
    <script src="./"></script>
</head>
<body>

<div>
    <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
            <div class="logo-box">
                <img src="/image/logo/logo.png"/>
            </div>
            <!-- <div class="logo-title">
                      <span>Jar</span>
                  </div> -->
        </div>
        <div>
            <div class="select-name">
                <span>회원정보 관리</span>
            </div>
        </div>
    </div>
    <div class="wrap">
        <!-- 사이드 바 -->
        <div></div>

        <div class="container">
            <div class="container-margin">

                <!-- 내용 섹션 -->
                <section class="board-info-box-layout">
                    <div class="board-info-box">
                        <div class="board-info-title-box">
                            <span>회원정보 목록</span>
                        </div>
                        <!-- 여기에 필터 넣으면 될 듯 -->
                        <!-- 검색-->
                        <form>
                            <div class="px-3 my-3">
                                <div class="row my-2">
                                    <div class="col-lg-10">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <div class="el-select ">
                                                        <div class="el-input el-input--suffix">
                                                            <input type="text"
                                                                   placeholder="회원 유형"
                                                                   class="el-input__inner">
                                                            <span class="el-input__suffix"><span
                                                                    class="el-input__suffix-inner">
                                                            <!--                                                            이게 검색 옆에 버튼 모양인듯-->
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                            </span></span></div>
                                                        <div class="el-select-dropdown el-popper"
                                                             style="display: none; min-width: 226px;">
                                                            <div class="el-scrollbar" style="">
                                                                <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                                                     style="margin-bottom: -14px; margin-right: -14px;">
                                                                    <ul class="el-scrollbar__view el-select-dropdown__list">


                                                                        <li class="el-select-dropdown__item">
                                                                            <span>전 체</span></li>
                                                                        <li class="el-select-dropdown__item selected">
                                                                            <span>공식 계정</span>
                                                                        </li>
                                                                        <li class="el-select-dropdown__item">
                                                                            <span>일반 계정</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="el-select">
                                                        <div class="el-input el-input--suffix">
                                                            <input type="text"
                                                                   placeholder="검색 유형"
                                                                   class="el-input__inner">
                                                            <span class="el-input__suffix"><span
                                                                    class="el-input__suffix-inner">
<!--                                                                *****주의 사항****-->
<!--                                                            js로 버튼을 누르면 before, after가 바뀌게 만들기-->
<!--                                                                그러면 아이콘 모양이 바뀜-->
                                                            <i class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                                            </span></span></div>
                                                        <div class="el-select-dropdown el-popper"
                                                             style="display: none; min-width: 226px;">
                                                            <div class="el-scrollbar" style="">
                                                                <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                                                     style="margin-bottom: -14px; margin-right: -14px;">
                                                                    <ul class="el-scrollbar__view el-select-dropdown__list">


                                                                        <li class="el-select-dropdown__item">
                                                                            <span>전 체</span></li>
                                                                        <li class="el-select-dropdown__item selected">
                                                                            <span>ID</span>
                                                                        </li>
                                                                        <li class="el-select-dropdown__item">
                                                                            <span>이름</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input
                                                            type="text"
                                                            placeholder="검색어를 입력해주세요"
                                                            class="form-control"/>


                                                    <div class="col-lg-5 cont">
                                                        <span> <button type="button"
                                                                       class="btn frip-button btn-frip-primary">
                                                    <span>검색</span></button>
                                                    <button
                                                            type="button"
                                                            class="btn frip-button btn-outline-frip-default">
                                                <span>초기화</span></button>
                                                </span></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--검색-->
                        <div class="info-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>회원상태</th>
                                    <th>이메일</th>
                                    <th>이름</th>
                                    <th>닉네임</th>
                                    <th>핸드폰 번호</th>
                                    <th>다른 필요한 내용</th>
                                </tr>
                                </thead>
                                <!-- 리스트 내용 -->
                                <tr>
                                    <!-- 회원 pk번호 -->
                                    <td>1</td>
                                    <!-- 회원 상태 -->
                                    <td class="member_type is_active">
                                        일반 회원
                                        <hr class="nomal"/>
                                    </td>
                                    <td>
                                        <!-- 회원 이메일 -->
                                        <a>
                                            ljs1234@gmail.com
                                        </a>
                                    </td>
                                    <!-- 회원 이름 -->
                                    <td>황진서</td>
                                    <!-- 회원 닉네임 -->
                                    <td>ljs1234</td>
                                    <!-- 회원 전화번호 -->
                                    <td>01012341234</td>
                                    <!-- 회원 가입일, 인데 다른거 쓸거 있으면 바꾸면 될 듯 -->
                                    <td></td>
                                </tr>
                                <!-- 리스트 내용 -->
                                <tr>
                                    <!-- 회원 pk번호 -->
                                    <td>1</td>
                                    <!-- 회원 상태 -->
                                    <td class="member_type is_active">
                                        공식 회원
                                        <hr class="comp"/>
                                    </td>
                                    <td>
                                        <!-- 회원 이메일 -->
                                        <a>
                                            ljs1234@gmail.com
                                        </a>
                                    </td>
                                    <!-- 회원 이름 -->
                                    <td>황진서</td>
                                    <!-- 회원 닉네임 -->
                                    <td>ljs1234</td>
                                    <!-- 회원 전화번호 -->
                                    <td>01012341234</td>
                                    <!-- 회원 가입일, 인데 다른거 쓸거 있으면 바꾸면 될 듯 -->
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
                <!-- 폼태그 -->

                <!-- 페이지 버튼 -->
                <div class="page-button-box-layout">
                    <div class="page-button-box">
                        <!-- 페이지 번호 -->
                        <div class="">
                            <div class="page-button-margin">
                                <div>
                                    <img src="/image/admin/left_icon.png" class="left-button"/>
                                </div>
                            </div>
                        </div>
                        <!--<th:block
                                th:each="num : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage + 1)}"
                        >-->
                            <a>
                                <span class="page-button"></span>
                            </a>
                            <div style="width: 2px"></div>
                        <!--</th:block>-->
                        <div class="">
                            <div class="page-button-margin">
                                <div>
                                    <img src="/image/admin/right_icon.png" class="right-button"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 페이지 버튼 끝 -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
