.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 0.6rem;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.el-select {
    display: inline-block;
    position: relative;
    width: 15%;
}

.el-select > .el-input {
    display: block;
}

.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.el-select .el-input .el-input__inner {
    font-size: .8125rem;
    width: 100%;
    height: calc(1.5em + 1.8rem + 2px);
    transition: all .15s ease-in-out;
}

.el-select .el-input__inner {
    cursor: pointer;
    padding-right: 35px;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
}

.el-input__inner {
    appearance: none;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-radius: 4px;
    border: 1px solid rgb(220, 223, 230);
    box-sizing: border-box;
    color: rgb(96, 98, 102);
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0px;
    padding: 0px 15px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    width: 100%;
}

.el-input__suffix {
    right: 5px;
    transition: all 0.3s ease 0s;
    pointer-events: none;
}

.el-input__prefix, .el-input__suffix {
    position: absolute;
    top: 0px;
    transition: all 0.3s ease 0s;
    height: 100%;
    color: rgb(192, 196, 204);
    text-align: center;
}

.el-input__suffix-inner {
    pointer-events: all;
}

[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-select .el-input .el-select__caret {
    color: rgb(192, 196, 204);
    font-size: 14px;
    transition: transform 0.3s ease 0s;
    transform: rotate(180deg);
    cursor: pointer;
}

.el-select .el-input .el-select__caret {
    color: #000;
}

.el-input__icon {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all 0.3s ease 0s;
    line-height: 40px;
}

.el-icon-arrow-up:before {
    content: "▷";
}

.el-input__icon::after {
    content: "▽";
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}

.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid rgb(228, 231, 237);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    box-sizing: border-box;
    margin: 5px 0px;
}

.el-scrollbar {
    overflow: hidden;
    position: relative;
}

.el-scrollbar__wrap {
    overflow: scroll;
    height: 100%;
}

.el-select-dropdown__wrap {
    max-height: 274px;
}

.el-select-dropdown__list {
    list-style: none;
    padding: 6px 0px;
    margin: 0px;
    box-sizing: border-box;
}

.el-select-dropdown__item, .el-tag {
    white-space: nowrap;
    box-sizing: border-box;
}

.el-select-dropdown.el-popper .el-select-dropdown__item.selected, .el-select-dropdown.el-popper.is-multiple .el-select-dropdown__item.selected {
    color: #7a29fa;
}

.el-select-dropdown.el-popper .el-select-dropdown__item.selected, .el-select-dropdown.el-popper.is-multiple .el-select-dropdown__item.selected {
    color: #5e72e4;
}

.el-select-dropdown__item.selected {
    color: rgb(64, 158, 255);
    font-weight: 700;
}

.el-select-dropdown__item.selected {
    color: rgb(64, 158, 255);
    font-weight: 700;
}

.el-select-dropdown__item {
    font-size: 14px;
    padding: 0px 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(96, 98, 102);
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

.el-scrollbar__bar.is-horizontal {
    height: 6px;
    left: 2px;
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.12s ease-out 0s;
}

.el-scrollbar__bar.is-horizontal > div {
    height: 100%;
}

.el-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144, 147, 153, 0.3);
    transition: background-color 0.3s ease 0s;
}

.el-scrollbar__bar.is-vertical {
    width: 6px;
    top: 2px;
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.12s ease-out 0s;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.form-group {
    margin-bottom: 0;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


.form-control {
    display: inline-block;
    width: 40%;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 3px 2px hsla(0, 0%, 86.7%, .05);
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);


    font-size: 0.9rem;
    transition: all .15s ease-in-out;
    height: calc(1.0em + 1.0rem + 5px);
    margin-top: 5px;
}

button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.frip-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-frip-primary, .btn-frip-primary:hover {
    color: #fff;
    background-color: #7a29fa;
    border-color: #7a29fa;
}

.btn-frip-primary {
    box-shadow: none;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #666;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.875rem 0.875rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
    position: relative;
    text-transform: none;
    transition: all .15s ease;
    letter-spacing: -.025em;
    font-size: .8125rem;
    will-change: transform;
    background-color: #7a29fa;
    color: white;
    height: 40px;
    /*margin-top: 10px;*/
}

.btn > span {
    position: relative;
    vertical-align: middle;
    line-height: normal;
    top: -2px;
}

.btn:not(:last-child) {
    margin-right: 0.5rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
}

img, svg {
    vertical-align: middle;
}

.text-wrap{
    font-size: 0.9rem;
    height: 30px;
}
.cont{
    display: inline-block;
    width: fit-content;
}