<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 페이지 css-->
    <link rel="stylesheet" href="/css/dm/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 js -->
    <script src="/js/dm/layout.js" defer></script>
    <title>디엠 디테일페이지 - 우측하단 누르면 나옴</title>
</head>
<body>
    <div id="chat-area">
        <div class="chat-btn">
            <button type="button"><i class="xi-message-o"></i></button>
        </div>
        <div id="chat" class="chat-list-wrap">
            <div class="dm-head">
                <button type="button" class="back-btn"><i class="xi-angle-left"></i></button>
                <div>
                    <span class="chat-tit">임종민</span>
                    <button type="button" class="refresh-btn"><i class="xi-refresh"></i></button>
                </div>
            </div>
            <div class="dm-body">
                <div class="chat-wrap">
                    <ul>
                        <li class="chat-li you">
                            <div class="txt">안녕하세요:)</div>
                            <div class="date">1시간 전</div>
                        </li>
                        <li class="chat-li me">
                            <div class="txt">네 안녕하세요^^</div>
                            <div class="date">30분 전</div>
                        </li>
                        <li class="chat-li me">
                            <div class="txt">무슨 용건이신가요?</div>
                            <div class="date">10분 전</div>
                        </li>
                        <li class="chat-li you">
                            <div class="txt">안녕하세요:)</div>
                            <div class="date">1시간 전</div>
                        </li>
                        <li class="chat-li me">
                            <div class="txt">네 안녕하세요^^</div>
                            <div class="date">30분 전</div>
                        </li>
                        <li class="chat-li me">
                            <div class="txt">무슨 용건이신가요?</div>
                            <div class="date">10분 전</div>
                        </li>
                    </ul>
                    <!-- input  -->
                    <div class="chat-input">
                        <form action="">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button type="button" class="message-btn"><i class="xi-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>