<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/inc/reset.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <link rel="stylesheet" href="../../static/css/dm/layout.css">
    <!-- 페이지 css-->
    <link rel="stylesheet" href="../../static/css/index/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <script src="../../static/js/dm/layout.js" defer></script>
    <!-- 페이지 js -->
    <script src="../../static/js/index/layout.js" defer></script>

    <!-- 메인페이지인가? -->
    <title>TEXT</title>

</head>
<body>
    <!--공통헤더-->
    <header>
        <div id="head">
            <!-- top -->
            <div class="top">
                <div class="inner-top">
                    <ul>
                        <!-- 로그인 시 -->
                        <li><span class="name">유아람님</span><a href="" class="logout">로그아웃</a></li>
                        <!-- 로그인 끝 -->
                        <li><a href="">회원가입</a></li>
                        <li><a href="">로그인</a></li>
                        <li><a href="">공지사항</a></li>
                    </ul>
                </div>
            </div>
            <!-- bottom -->
            <div class="bottom">
                <div class="inner-bottom">
                    <!-- 카테고리button -->
                    <div class="cate">
                        <button type="button" class="cate-btn">
                            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='11.5' y='10.5' width='7' height='7' fill='%23707070'/%3E %3Crect x='1.5' y='10.5' width='7' height='7' fill='%23707070'/%3E %3Crect x='1.5' y='0.5' width='7' height='7' fill='%23707070'/%3E %3Crect x='11.5' y='0.5' width='7' height='7' fill='%23707070'/%3E %3C/svg%3E" alt="카테고리-icon">
                        </button>
                        <div class="tit">카테고리</div>
                    </div>
                    <div class="cate-layer">
                        <div class="bg"></div>
                        <div class="layer-con">
                            <ul>
                                <li><a href=""><span class="tit">피드</span> <img src="/img/inc/cate_1.png" alt="피드"></a></li>
                                <li><a href=""><span class="tit">교환해요</span> <img src="/img/inc/cate_2.png" alt="교환해요"></a></li>
                                <li><a href=""><span class="tit">함께해요</span> <img src="/img/inc/cate_3.png" alt="함께해요"></a></li>
                                <!-- 광고해요는 공식계정만 노출 -->
                                <li><a href=""><span class="tit">광고해요</span> <img src="/img/inc/cate_4.png" alt="광고해요"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 로고 -->
                    <h1 class="logo"><a href=""><img src="/img/inc/logo.svg" alt=""></a></h1>
                    <div class="search">
                        <form action="">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23AAA' stroke-width='2' d='M11 17c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM15 15l4.95 4.95'/%3E %3C/svg%3E" alt="" class="MagnifierImg__MagnfierImg-vdfqqy-0 kKRRUP">
                            <input type="text" name="" id="" class="" placeholder="지금 생각나는 취미를 검색하세요.">
                            <button type="button" class="del_btn"><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E %3Cg fill='none' fill-rule='nonzero'%3E %3Ccircle cx='8' cy='8' r='8' fill='%23BBB'/%3E %3Cpath fill='%23FFF' d='M7.823 7.116l2.475-2.475 1.06 1.06-2.474 2.476 2.298 2.298-1.06 1.06-2.299-2.298-2.121 2.122-1.06-1.06 2.12-2.122-2.298-2.298 1.061-1.061 2.298 2.298z'/%3E %3C/g%3E %3C/svg%3E" alt="" class="Icon-sc-1n96qsy-0 dsjmCy"></button>
                        </form>
                    </div>
                    <div class="search-layer">
                        <div class="bg"></div>
                        <div class="layer-con">
                            <div class="inner-con">
                                <div class="history">
                                    <div class="head">
                                        <div class="tit">최근 검색어</div>
                                        <button type="button" class="all-del">지우기</button>
                                    </div>
                                    <div class="body">
                                        <ul>
                                            <li><a href="">부산</a></li>
                                            <li><a href="">일본</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div class="popularity">
                                    <div class="head">
                                        <div class="tit">인기 검색어</div>
                                    </div>
                                    <div class="body">
                                        <ul>
                                            <li><a href="">부산</a></li>
                                            <li><a href="">일본</a></li>
                                            <li><a href="">교환해요</a></li>
                                            <li><a href="">밥 먹으실분</a></li>
                                            <li><a href="">미국</a></li>
                                            <li><a href="">중국</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="util">
                        <a href="">
                            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Crect x='1' y='0.5' width='18' height='17' fill='%23707070'/%3E %3Crect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/%3E %3Crect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/%3E %3Cpath d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/%3E %3C/svg%3E" alt="피드-icon">
                            <div class="tit">피드</div>
                        </a>
                        <a href="">
                            <img src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17 11H3L1 17.4H19L17 11Z' fill='%23707070'/%3E %3Ccircle cx='10' cy='5' r='4.5' fill='%23707070'/%3E %3C/svg%3E" alt="마이-icon">
                            <div class="tit">마이</div>
                        </a>
                        <a href="" class="bell">
                            <i class="xi-bell"></i>
                            <div class="tit">알림</div>
                            <span class="cnt">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 메인페이지-->
    <div id="index" class="cont-wrap">
        <div class="inner-cont">
            <section class="main-visual">
                <div class="slide-wrap">
                    <!-- 슬라이드 -->
                    <ul>
                        <li>
                            <a href="">
                                <img src="/img/index/banner_0.png" alt="메인배너1">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/img/index/banner_1.png" alt="메인배너2">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/img/index/banner_2.png" alt="메인배너2">
                            </a>
                        </li>
                    </ul>
                    <!-- 에로우-->
                    <div class="arrow left"><img data-role="none" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E" style="display: block;"></div>
                    <div class="arrow right"><img data-role="none" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E" style="display: block;"></div>
                    <!-- 페이지네이션 -->
                    <div class="pagenation">
                        <span class="curr">1</span>
                        <span class="max">6</span>
                    </div>
                </div>
            </section>

            <!-- 베스트 피드 -->
            <section class="sec1 best-feed">
                <div class="sec-head">
                    <h2 class="tit">제일 잘 나가는 피드 🛫</h2>
                    <button class="view-more" type="button">피드보기</button>
                </div>
                <div class="sec-body">
                    <ul class="feed-wrap">
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">대한민국</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">일본</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">중국</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- 함께해요 -->
            <section class="sec2 together">
                <div class="sec-head">
                    <h2 class="tit">진행중인 함께해요 😊</h2>
                    <button class="view-more" type="button">더 보기</button>
                </div>
                <div class="sec-body">
                    <ul class="list-wrap">
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img7.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- 교환해요 -->
            <section class="sec3 trade">
                <div class="sec-head">
                    <h2 class="tit">진행중인 교환해요 😊</h2>
                    <button class="view-more" type="button">더 보기</button>
                </div>
                <div class="sec-body">
                    <ul class="list-wrap">
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img8.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">음식</div>
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img9.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">기념품</div>
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">옷</div>
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumb">
                                    <div class="img-wrap">
                                        <img src="/img/index/img2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="hashtag">음식</div>
                                    <div class="bo-tit">[종로] 나만의 반려식물, 테라리움 만들기</div>
                                    <div class="content">안녕하세요, 테라리움 전문 가게 해피에버애프터 입니다. 가게는 인사동 쌈지길 1층에 위치하고 있어요! (*2022년 1월 24일 쌈지길 1층 조금 더 넓은 매장으로 확장이전했습니다.) 아기자기한 쌈지길에서 특별한 추억을 남기고 싶다면 인생 첫 나만의 반려식물! 테라리움을 만들어 보는건 어떨까요?</div>
                                </div>
                            </a>
                            <div class="like-comment">
                                <div class="like">
                                    <button type="button" class="like-btn">
                                        <i class="xi-heart-o"></i>
                                    </button>
                                    <span class="cnt">0</span>
                                </div>
                                <div class="comment">
                                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E %3Cpath fill='none' stroke='%234E5968' stroke-width='1.5' d='M20.25.75H.75v11.818h3.842v4.015l5.9-4.015h9.758V.75z'/%3E %3C/svg%3E" alt="댓글">
                                    <span class="cnt">0</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <!-- 공통푸터-->
    <footer id="footer">
        <div class="inner-footer">
            <section>
                <h2 class="tit">공지사항 및 공식계정</h2>
                <div>TEXT 공식계정: <a href="" class="official">TEXT OFFICIAL</a></div>
            </section>

            <section>
                <h2 class="tit">지원센터</h2>
                <div>운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)</div>
                <div>광고: contact@text.com</div>
            </section>

            <section>
                <h2 class="tit">Text</h2>
                <div class="info">
                    <p>
                        ㈜프렌트립|사업자 등록번호 : 261-81-04385<br>
                        통신판매업신고번호 : 2016-서울성동-01088<br>
                        대표 : 임수열|개인정보 관리 책임자 : 양사열<br>
                        서울시 성동구 왕십리로 115 헤이그라운드 서울숲점 G703<br>
                        ㈜프렌트립은 통신판매중개자로서 거래당사자가 아니며, 호스트가 등록한 상품정보 및 거래에 대해 ㈜프렌트립은 일체의 책임을 지지 않습니다.<br><br>

                        NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다. 가입 확인
                    </p>
                </div>
                <div class="terms">
                    <a href="">이용약관</a>
                    <a href=""><b>개인정보 처리방침</b></a>
                    <a href="">위치기반 서비스 이용약관</a>
                </div>
            </section>
        </div>
    </footer>

    <!--  모바일 하단 nav바  -->
    <div class="foot-nav">
        <nav>
            <ul>
                <li class="nav-home">
                    <a href="javascript:void(0)">
                        <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M10 0L2 6.78571V17.5H7.54545V12.2174H12.4545V17.5H18V6.78571L10 0Z' fill='#CCCCCC'/> </svg>
                        <span class="nav-tit">홈</span>
                    </a>
                </li>
                <li class="nav-cate">
                    <a href="javascript:void(0)">
                        <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='11.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='10.5' width='7' height='7' fill='#CCCCCC'/> <rect x='1.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> <rect x='11.5' y='0.5' width='7' height='7' fill='#CCCCCC'/> </svg>
                        <span class="nav-tit">카테고리</span>
                    </a>
                </li>
                <li class="nav-feed">
                    <a href="javascript:void(0)">
                        <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='1' y='0.5' width='18' height='17' fill='#CCCCCC'/> <rect x='4.375' y='13.375' width='11.25' height='0.75' stroke='white' stroke-width='0.75'/> <rect x='4.375' y='10.375' width='7.25' height='0.75' stroke='white' stroke-width='0.75'/> <path d='M8.87786 3.85311C8.63758 3.62543 8.31786 3.5 7.97789 3.5C7.63792 3.5 7.31829 3.62534 7.07783 3.85311L6.75005 4.16359L6.42227 3.85302C6.18189 3.62534 5.86218 3.5 5.5222 3.5C5.18223 3.5 4.86261 3.62534 4.62224 3.85311C4.12592 4.32322 4.12592 5.08808 4.62224 5.55819L6.61734 7.44794C6.65251 7.48126 6.70025 7.5 6.74995 7.5C6.79966 7.5 6.8474 7.48126 6.88257 7.44794L8.87767 5.55819C9.37408 5.08799 9.37408 4.32313 8.87786 3.85311Z' fill='white'/> </svg>
                        <span class="nav-tit">피드</span>
                    </a>
                </li>
                <li class="nav-bell">
                    <a href="javascript:void(0)">
                        <i class="xi-bell"></i>
                        <span class="nav-tit">알림</span>
                    </a>
                </li>
                <li class="nav-my">
                    <a href="javascript:void(0)">
                        <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M17 11H3L1 17.4H19L17 11Z' fill='#CCCCCC'/> <circle cx='10' cy='5' r='4.5' fill='#CCCCCC'/> </svg>
                        <span class="nav-tit">마이</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!--  DM  -->
    <div class="dm-area">
        <div class="chat-btn">
            <button type="button"><i class="xi-message-o"></i></button>
        </div>
        <div id="chat">
            <div class="chat-tit">DM</div>
            <div class="chat-wrap">
                <ul>
                    <li>
                        <a href="">
                            <div class="img-wrap"><img alt="[서울마곡] 다이어트, 유산소에 최고 스쿼시 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1640162215903_26686"></div>
                            <div class="con-wrap">
                                <div class="user-name">임종민</div>
                                <div class="dm-con">안녕하세요 임종민입니다.</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap"><img alt="[서울마곡] 다이어트, 유산소에 최고 스쿼시 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1640162215903_26686"></div>
                            <div class="con-wrap">
                                <div class="user-name">임종민</div>
                                <div class="dm-con">안녕하세요 임종민입니다.</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap"><img alt="[서울마곡] 다이어트, 유산소에 최고 스쿼시 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1640162215903_26686"></div>
                            <div class="con-wrap">
                                <div class="user-name">임종민</div>
                                <div class="dm-con">안녕하세요 임종민입니다.</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap"><img alt="[서울마곡] 다이어트, 유산소에 최고 스쿼시 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1640162215903_26686"></div>
                            <div class="con-wrap">
                                <div class="user-name">임종민</div>
                                <div class="dm-con">안녕하세요 임종민입니다.</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap"><img alt="[서울마곡] 다이어트, 유산소에 최고 스쿼시 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1640162215903_26686"></div>
                            <div class="con-wrap">
                                <div class="user-name">임종민</div>
                                <div class="dm-con">안녕하세요 임종민입니다.</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="img-wrap"><img alt="[서울마곡] 다이어트, 유산소에 최고 스쿼시 썸네일" class="Image__StyledImage-v97gyx-1 VUNpu" width="192" src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/product_banner_1640162215903_26686"></div>
                            <div class="con-wrap">
                                <div class="user-name">임종민</div>
                                <div class="dm-con">안녕하세요 임종민입니다.</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
