<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입2</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <!-- 페이지 css -->
    <link rel="stylesheet" href="../../static/css/register/registerNext.css">
</head>
<body>
<div id="app">
    <div class="appWrapper">
        <div class="PageWrapper">
            <div class="RegisterPage">
                <div class="Title">
                    <h3>회원가입</h3>
                </div>
                <form class="RegisterPageForm" action="">
                    <!-- 닉네임 -->
                    <div>
                        <input id="idOrEmail" class="nickInput" type="text" placeholder="아이디" />
                        <p class="explain">올바른 이메일 형식이 아닙니다.</p>
                    </div>
                    <div>
                        <input id="pw" class="nickInput" type="password" placeholder="비밀번호" />
                        <p class="explain">대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상</p>
                    </div>
                    <div>
                        <input
                                id="RePassword"
                                class="nickInput"
                                type="password"
                                placeholder="비밀번호 확인"
                        />
                        <p id="checkPW" class="explain"></p>
                    </div>
                    <!-- 닉네임 -->
                    <div>
                        <input id="nickname" class="nickInput" type="text" placeholder="닉네임" />
                        <p class="explain">이미 사용중인 닉네임입니다.</p>
                    </div>
                    <!-- 폰 번호 입력 -->
                    <div class="PhoneNumberWrap">
                        <div>
                            <input
                                    id="phoneNumber"
                                    class="PhoneNumInput"
                                    type="tel"
                                    placeholder="휴대폰 번호(- 없이 입력)"
                            />
                        </div>
                        <button class="authentication-SendButton">인증번호 전송</button>
                    </div>
                    <p class="explain">올바른 휴대폰 번호 형식이 아닙니다.</p>
                    <!-- 인증번호 인증 -->
                    <div class="authentication">
                        <div>
                            <div>
                                <input
                                        id="authenticationNumber"
                                        class="authenticationNum"
                                        type="number"
                                        placeholder="인증번호"
                                />
                            </div>
                        </div>
                        <button class="authentication-Button">인증하기</button>
                    </div>
                    <p class="explain">인증번호가 일치하지 않습니다.</p>

                    <button type="button" class="SubmitButton">가입하기</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>