<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/inc/reset.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <!-- 페이지 css-->
    <link rel="stylesheet" href="../../static/css/register/registerMain.css">
    <title>회원가입</title>

</head>
<body>
<div id="app">
    <div class="appWrapper">
        <div class="PageWrapper">
            <div class="IntroPage">
                <h2 class="IntroPage-Title">TEXT회원가입</h2>
                <p class="IntroPage-Description">텍스트에 가입해서 나의 여행을 공유해보세요!</p>
                <!-- 일반 회원가입 -->
                <button class="IntroPage-Button" width="100%" height="48px" font-size="16px" font-weight="500" color="#333" >일반 회원가입</button>
                <!-- 공식계정 회원가입 -->
                <button class="IntroPage-Button2" width="100%" height="48px" font-size="16px" font-weight="500" color="#333" >공식계정 회원가입</button>
                <div class="IntroPage-SubButton">
                    <a href="">
                        <button class="kakaoButton">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E %3Crect width='48' height='48' fill='%23FBE850' rx='10'/%3E %3Cpath fill='%23000' d='M24 14c-6.628 0-12 4.236-12 9.462 0 3.378 2.246 6.342 5.625 8.016-.184.634-1.181 4.078-1.221 4.349 0 0-.024.203.108.28.131.078.286.018.286.018.378-.053 4.378-2.863 5.07-3.35.692.097 1.405.148 2.132.148 6.628 0 12-4.236 12-9.462C36 18.236 30.628 14 24 14z'/%3E %3C/svg%3E" alt="kakao-login-icon">
                        </button>
                    </a>
                    <a href="">
                        <button class="loginButton">로그인</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>