<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/inc/reset.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <!-- 페이지 css-->
    <link rel="stylesheet" href="../../static/css/advertising/layout.css" />
    <!-- 페이지 js -->
    <script src="../../static/js/advertising/layout.js" defer></script>

    <title>광고 승인</title>
</head>
<body>
<!-- 광고승인-->
<div id="advertising-form" class="cont-wrap">
    <section>
        <div class="inner-cont">
            <div class="sec-head">
                <div class="tit">광고 승인</div>
            </div>
            <div class="sec-body">
                <form action="">
                    <div class="input-area">
                        <div class="input-tit">광고 구분</div>
                        <div class="input-wrap">
                            <div class="check-input-area">
                                <div class="check-wrap">
                                    <input type="radio" name="name1" id="banner" class="check-input" checked />
                                    <label for="banner">배너</label>
                                </div>

                                <div class="check-wrap">
                                    <input type="radio" name="name1" id="feed" class="check-input" />
                                    <label for="feed">피드</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-area adver-date">
                        <div class="input-tit">광고 기간</div>
                        <div class="input-wrap">
                            <div class="check-input-area">
                                <div class="check-wrap">
                                    <input type="radio" name="date1" id="1week" class="check-input" checked />
                                    <label for="1week">1주일</label>
                                </div>

                                <div class="check-wrap">
                                    <input type="radio" name="date1" id="1month" class="check-input" />
                                    <label for="1month">1개월</label>
                                </div>

                                <div class="check-wrap">
                                    <input type="radio" name="date1" id="2month" class="check-input" />
                                    <label for="2month">2개월</label>
                                </div>

                                <div class="check-wrap">
                                    <input type="radio" name="date1" id="3month" class="check-input" />
                                    <label for="3month">3개월</label>
                                </div>
                            </div>

                            <div class="start-date">
                                <div class="input-info">광고 시작 날짜</div>
                                <div class="date-wrap">여기에 시작 날짜 보이게 만들기</div>
                            </div>
                        </div>
                    </div>

                    <div class="input-area">
                        <div class="input-tit">제목</div>
                        <div class="input-wrap">여기에 광고 제목 출력하기</div>
                    </div>

                    <!-- 함께해요 상세에서 썸내일 처럼 이미지 보이게 만들기 -->
                    <div class="input-area">
                        <div class="input-tit">이미지</div>
                        <div class="input-wrap">
                            <div class="file-wrap">
                                <input
                                        type="text"
                                        name=""
                                        id=""
                                        class="file-label"
                                        placeholder="첨부파일"
                                        disabled
                                />
                            </div>
                        </div>
                    </div>

                    <div class="input-area">
                        <div class="input-tit">내용</div>
                        <div class="input-wrap">
                  <textarea
                          name=""
                          id="adverContent"
                          cols="30"
                          rows="10"
                          class=""
                          placeholder="여기에 신청자가 작성한 내용 보이게 만들기"
                          disabled
                  ></textarea>
                            <div class="input-error"></div>
                        </div>
                    </div>

                    <div class="btn-area">
                        <button type="button" class="app-btn">광고 승인</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<!-- 광고승인-->
</body>
</html>