<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/inc/reset.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <!-- 페이지 css -->
    <link rel="stylesheet" href="../../static/css/login/findPw.css">
</head>
<body>
<div class="FindPasswordPage">
    <div class="Title">
        <h3>비밀번호 찾기</h3>
    </div>
    <form class="LoginRegister" action="">
        <div>
            <input class="emailInput" type="email" placeholder="아이디(이메일)">
            <p class="p-tag">재설정하려는 비밀번호의 아이디(이메일)를 입력해 주세요.</p>
        </div>
        <button class="Button" type="submit" >이메일 발송</button>
    </form>
</div>
</body>
</html>