<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/inc/reset.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <!-- 페이지 css -->
    <link rel="stylesheet" href="../../static/css/login/findId.css">
</head>
<body>
<div class="FindPasswordPage">
    <div class="Title">
        <h3>아이디 찾기</h3>
    </div>
    <form class="LoginRegister" action="">
        <div>
            <input class="emailInput" type="text" placeholder="이름">
            <input class="emailInput" type="text" placeholder="번호">
            <p class="p-tag">찾으시려는 계정의 이름과 번호를 입력해주세요.</p>
        </div>
        <button class="Button" type="submit" >확인</button>
    </form>
</div>
</body>
</html>