<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>등록된 정보가 없습니다</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="/css/font/font.css">
    <link rel="stylesheet" href="/css/inc/reset.css">
    <link rel="stylesheet" href="/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/inc/layout.js"></script>
    <!-- 페이지 css -->
    <link rel="stylesheet" href="/css/login/nothingResult.css">
</head>
<body>
<div class="FindPasswordPage">
    <div class="Title">
        <h3></h3>
    </div>
    <form class="LoginRegister" action="">
        <div class="text">
            <span>등록된 정보가 없습니다</span>
        </div>
        <div class="buttonWrapper">
            <button class="Button" type="submit" >다시찾기</button>
            <button class="Button" type="submit" >회원가입</button>
        </div>
    </form>
</div>
</body>
</html>