button:disabled {
    cursor: not-allowed;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}
img { border-style: none;
}
::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}
*,::before,::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
div {
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
* {
    outline: none;
    font-family: inherit;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}
h2 {
    margin: 0px;
    padding: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p, label {
    margin: 0px;
}

/* ----------------------------------------------------------------------------------------------------------- */

#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

.appWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.PageWrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px;
    min-height: 653px;
}

.RegisterPage {
    margin-top: 20px;
}

/* ----------------------------------------------------------------------------------------------- */

/* 타이틀 */
.Title {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    position: relative;
}
.Title h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

/* form -------------------------------------------------*/
.RegisterPageForm {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 60px;
    padding: 24px 20px;
}

/* 아이디 비번 비번확인*/
.nickInput {
    width: 100%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(238, 238, 238);
    margin: 4px 0px 8px;
}
.explain{
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    color: rgb(153, 153, 153);
}

/* 4.가입하기 */

.SubmitButton {
    width: 100%;
    height: 56px;
    line-height: 24px;
    padding: 0px 13px;
    background-color: rgb(181, 197, 214);
    text-align: center;
    border-radius: 10px;
    color: rgb(244, 244, 244);
    font-size: 16px;
    margin-top: 44px;
}



/* ---------합치느라 복붙함 아래꺼 */
/* 2.휴대폰 번호 */
.PhoneNumberWrap{
    display: flex;
}
/* 2-1. 번호입력칸 */
.PhoneNumberWrap > div{
    display: inline-block;
    width: calc(100% - 126px);
}
.PhoneNumInput{
    width: 100%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(238, 238, 238);
    margin: 4px 0px 8px;
}

/* 2-2. 버튼 */
.authentication-SendButton{
    width: 136px;
    height: 50px;
    line-height: 20px;
    padding: 0px 13px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    border-radius: 8px;
    color: rgb(170, 170, 170);
    font-size: 14px;
    margin: 4px 0px 8px;
}
.PhoneNumberWrap > button {
    margin-left: 12px;
}
/* 3.인증 */
.authentication{
    display: flex;
}
.authentication > div {
    display: inline-block;
    width: calc(100% - 100px);
}
.authenticationNum {
    width: 100%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(238, 238, 238);
    margin: 4px 0px 8px;
}
.authentication-Button {
    width: 106px;
    height: 50px;
    line-height: 20px;
    padding: 0px 13px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: not-allowed;
    border: 1px solid rgb(181, 197, 214);
    border-radius: 8px;
    color: rgb(181, 197, 214);
    font-size: 14px;
    margin: 4px 0px 8px;
}
.authentication > button {
    margin-left: 12px;
}

/* 4.가입하기 */

.SubmitButton {
    width: 100%;
    height: 56px;
    line-height: 24px;
    padding: 0px 13px;
    background-color: rgb(181, 197, 214);
    text-align: center;
    border-radius: 10px;
    color: rgb(244, 244, 244);
    font-size: 16px;
    margin-top: 44px;
}

input:focus{
    border: 1px solid #21BAF3;

}