@charset "UTF-8";
@import url(../../css/inc/reset.css);

/* 폰트 */
@font-face {
    font-family: 'pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}

/* 헤더 header */
header{position: sticky; left: 0; top: 0; z-index: 99; }
#head{width: 100%; height: auto; border-bottom: 1px solid rgb(238, 238, 238);}
#head .inner-head{width: 100%; height: auto;}
/* 헤더 top */
#head .top{background: #f7f7f7;}
#head .inner-top{width: 100%; max-width: 768px; margin: 0 auto;}
#head .top ul{display: flex; padding: 6px 20px; width: auto; justify-content: end;}
#head .top li + li{margin-left: 15px;}
#head .top .name{font-size: 10px; font-weight: 600; margin-right: 5px;}
#head .top .logout{border: 1px solid #707070; background: #fff; padding: 2px 5px; border-radius: 2px;}
#head .top a{font-size: 10px;line-height: 14px;letter-spacing: -0.3px;}
/* 헤더 bottom */
#head .bottom{background: #fff;}
#head .inner-bottom{width: 100%; max-width: 768px; margin: 0 auto; display: flex; justify-content: space-between; -webkit-box-pack: justify; padding: 16px 20px 8px; align-items: center;}
#head .cate{width: 48px; text-align: center; position: relative;}
#head .cate::after{position: absolute; top: 50%; right: -5px; transform: translateY(-50%); content: ''; width: 1px; height: 100%; background-color: #DEDEDE; display: inline-block;}
#head .tit{margin-top: 3px; font-size: 10px; line-height: 14px; letter-spacing: -0.3px; text-align: center; color:#707070;}
/* 헤더 카테 레이어 */
.cate-layer{width: 100%; height: 100vh; position: fixed; z-index: 99; left: 0; top: 111px; display: none;}
.cate-layer .bg{background: rgba(0, 0, 0, 0.6); width: 100%; height: 100vh;}
.cate-layer .layer-con{width: 100%; background: #fff; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; border-top: 1px solid rgb(238, 238, 238); background-color: white;position: absolute;top: 0;left: 0;}
.cate-layer ul{width: 100%; max-width: 650px; height: 100%; padding: 20px 20px 100px; display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between;}
.cate-layer ul li{width: calc(100% / 4 - 15px); position: relative; border-radius: 10px; overflow: hidden;}
.cate-layer ul li .tit{font-size: 16px !important; font-weight: 600; color: #fff !important; position: absolute; bottom: 10px; left: 10px;}
.cate-layer ul li img{display: block; width: 100%;}
.cate-layer ul li a{transition: all 0.2s; position: relative;}
.cate-layer ul li a::after{transition: all 0.2s; content: ''; position: absolute; left: 0; bottom: -5px; width: 0%; height: 2px; background: #ffb029;}
.cate-layer ul li + li{margin-left: 20px;}
.cate-layer ul li:hover a{color: #21BAF3;}
.cate-layer ul li:hover a::after{content: ''; position: absolute; left: 0; bottom: -5px; width: 100%; height: 2px; background: #21BAF3;}
/* 헤더 로고 */
#head h1.logo{width: 68px; margin: 17px 0px 17px 20px; flex-shrink: 0;}
#head h1.logo img{width: 100%; height: auto;}
/* 헤더 검색 */
#head .search{height: 38px;padding: 0px 14px; -webkit-box-flex: 1; flex: 1 1 auto;}
#head .search form{position: relative;display: flex; justify-content: space-between; border: 1px solid #f7f7f7; -webkit-box-align: center;align-items: center;width: 100%;height: 38px;padding: 0px 12px;border-radius: 19px;background-color:#f7f7f7;border: none; transition: all 0.2s;}
#head .search.active form{background: #fff; border: 1px solid #000;}
#head .search input[type=text]{background: transparent; border: 0px; width: 100%; color:#707070; height: 24px; font-size: 14px; line-height: 22px; outline: none;}
#head .search .del_btn img{vertical-align: bottom;}
/* 헤더 검색 레이어 */
.search-layer{width: 100%; height: 100vh; position: fixed; z-index: 99; left: 0; top: 111px; display: none;}
.search-layer .bg{background: rgba(0, 0, 0, 0.6); width: 100%; height: 100vh;}
.search-layer .layer-con{width: 100%; background: #fff; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; border-top: 1px solid rgb(238, 238, 238); background-color: white;position: absolute;top: 0;left: 0;}
.search-layer .inner-con{width: 100%; max-width: 650px;height: 100%;}
.search-layer .history{padding-bottom: 20px; border-bottom: 1px solid #DEDEDE;}
.search-layer .head{padding: 20px; display: flex; justify-content: space-between; align-items: center;}
.search-layer .head .tit{color: #000 !important; font-weight: 600; font-size: 14px !important;}
.search-layer .head .all-del{color: #707070; font-size: 12px; font-weight: 500;}
.search-layer .history li a{padding: 10px 20px; display: block; transition: all 0.3s; font-size: 13px;}
.search-layer .history li:hover a{background: #F2F8FB;}
.search-layer .popularity{padding-bottom: 20px;}
.search-layer .popularity ul{display: flex; align-items: center; flex-wrap: wrap;}
.search-layer .popularity li{width: auto; height: 34px; line-height: normal; background-color: transparent; text-align: center; cursor: pointer; border: 1px solid #ffb029; border-radius: 5px; font-size: 12px; font-weight: 500; margin: 0px 12px 6px 0px; max-width: 150px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.search-layer .popularity li a{color: #ffb029; display: block; padding: 10px 16.5px; transition: all 0.2s;}
.search-layer .popularity li:hover a{background-color: #FFFBF5;}
/* 헤더 유틸 */
#head .util{display: flex;}
#head .util a + a{margin-left: 20px;}
#head .util i{font-size: 21px; color: #707070}
#head .util .bell{position: relative}
#head .util .bell span{position: absolute; top: -5px; right: -1px; background: #21BAF3; color: #fff; font-size: 10px; padding: 2px; border-radius: 20px; min-width: 13px; max-height: 30px; text-align: center;}

/* 헤더 미디어쿼리 */
@media screen and (max-width: 480px) {
    #head .cate{display: none;}
    #head .util{display: none;}
    #head .top ul{display: none;}
    #head h1.logo{margin-left: 0px;}
    #head .inner-bottom{padding: 10px 20px;}
    #head .search{padding: 0px; padding-left: 14px;}
    .search-layer{top: 73px;}
    
}

/* 푸터 */
#footer{background: #f7f7f7; padding: 40px 20px 96px;}
#footer .inner-footer{margin: 0px auto; width: 100%; max-width: 768px;}
#footer .tit{font-size: 16px; color: #000; font-weight: 600; line-height: 20px; margin-top: 20px; margin-bottom: 20px;}
#footer .official{padding: 5px; border: 1px solid rgb(204, 204, 204); border-radius: 3px; font-size: 10px; font-weight: 500; margin-left: 5px;}
#footer section:not(:last-child){border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 20px;}
#footer div{font-size: 12px; line-height: 20px; letter-spacing: -0.28px; color: rgb(153, 153, 153);}
#footer .terms{margin-top: 20px;}
#footer .terms a:not(:last-child)::after{content: '|'; color: #ddd; margin: 0 5px; display: inline-block;}

/* 푸터 nav */
.foot-nav{display: none; background: #fff; position: fixed; left: 0; bottom: 0; width: 100%}
.foot-nav nav ul{
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    z-index: 900;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(244, 244, 244);}
.foot-nav nav ul a{display: block; text-align: center; color: rgb(204, 204, 204); padding: 10px 0;}
.foot-nav nav ul svg, .foot-nav nav ul i{display: block; margin: 0 auto 5px}
.foot-nav nav .nav-bell i{font-size: 20px; color: rgb(204, 204, 204);}
.foot-nav nav .nav-tit{display: block; text-align: center; font-size: 10px; line-height: 10px}
.foot-nav nav ul li.active a,
.foot-nav nav ul li.active i{color: #21BAF3;}
.foot-nav nav ul li.active.nav-home path{fill: #21BAF3}
.foot-nav nav ul li.active.nav-cate rect{fill: #21BAF3}
.foot-nav nav ul li.active.nav-feed rect{fill: #21BAF3}
.foot-nav nav ul li.active.nav-my path,
.foot-nav nav ul li.active.nav-my circle{fill: #21BAF3}

/* 푸터 미디어쿼리 */
@media screen and (max-width: 480px) {
    .foot-nav{display: block}
    .cate-layer.mo-cate{top: 72px}
    .cate-layer.mo-cate ul{display: block;}
    .cate-layer.mo-cate ul li{width: 100%; height: 80px}
    .cate-layer.mo-cate ul li a{height: 80px; display: block}
    .cate-layer.mo-cate ul li + li{margin-left: 0px; margin-top: 20px}
}


/* ------------------------------------------------------------------------------------------------------------- */

/* DM 리스트 */
/* DM 공통*/
#chat{display: none; position: fixed; right: 20px; bottom: 100px; width: 100%; max-width: 300px; margin: 0 auto; background: #f7f7f7; padding: 20px; border-radius: 20px; box-shadow: 0 0 20px #0002;}
.chat-wrap{position: relative; background: #fff; border-radius: 20px;height: 500px; overflow-y: scroll;}
.dm-head{display: flex; justify-content: space-between; align-items: center; padding: 10px 0px 20px;}
.chat-tit{font-weight: 600}
/* DM 버튼 */
.chat-btn{position: fixed; right: 20px; bottom: 20px; background: #21BAF3; width: 60px; height: 60px; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.chat-btn i{font-size: 30px; color: #fff;}

.chat-wrap ul li{padding: 15px 20px; background: #fff; transition: all 0.3s;}
.chat-wrap ul li:hover{background-color: #F2F8FB;}
/*.chat-wrap ul li:not(:last-child){border-bottom: 1px solid #ddd;}*/
.chat-wrap ul li{border-bottom: 1px solid #ddd;}
.chat-wrap ul li a{display: flex;}
.chat-wrap .img-wrap{margin-right: 10px; max-width: 30px; max-height: 30px; overflow: hidden; border-radius: 50%;}
.chat-wrap .img-wrap img{width: 100%;}
.chat-wrap .con-wrap{width: 100%;}
.chat-wrap .user-name{font-size: 14px; font-weight: 600; color: #333; margin-bottom: 10PX;}
.chat-wrap .dm-con{font-size: 12px; color: #696969;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; width: 100%;}

/* DM 내역 */
.chat-list-wrap .chat-wrap ul li{border-bottom: 0px;}
.chat-list-wrap .chat-wrap ul li:hover{background: #fff;}
.chat-list-wrap .txt{background: #f7f7f7; padding: 10px 15px; width: max-content; border-radius: 20px;}
.chat-list-wrap .chat-li.me{text-align: right;}
.chat-list-wrap .chat-li.me .txt{background: #21BAF3; color: #fff; margin-left: auto;}
.chat-list-wrap .date{font-size: 12px; color: #b1b1b1; margin-top: 5px;}
.chat-list-wrap .chat-li.me .txt + .date{padding-right: 5px;}
.chat-list-wrap .chat-li.you .txt + .date{padding-left: 5px;}
.chat-list-wrap .chat-wrap{padding: 20px 0;}
.chat-list-wrap .chat-wrap ul li{padding: 5px 20px;}

/* DM 인풋 */
.chat-input{position: absolute; bottom: 10px; left: 10px; width: 100%; max-width: 240px; margin-top: 20px;}
.chat-input textarea{box-shadow: 0 0 10px #DEDEDE55; border: 1px solid #999999;background: #fff;height: 40px;font-size: 12px;border-radius: 20px;padding: 10px 20px;max-width: 240px;width: 100%;box-sizing: border-box;resize: none; outline: none;}
.chat-input textarea:active, .chat-input textarea:focus{border: 1px solid #21BAF3}
.chat-input .message-btn{position: absolute;right: 5px;bottom: 9px;font-size: 20px;color: #ddd;}